<!DOCTYPE html>
<html>
  <head>
    <title>Edit Comment</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body class="text-gray-600">
    <% include partials/header %>
    <div class="container mx-auto flex justify-center items-center">
      <div class="max-w-md w-full bg-slate-100 rounded-md p-8">
        <h2 class="text-xl text-center">Login</h2>
        <form action="/comments/<%=comment.id%>" method="post">
          <textarea
            name="text"
            cols="30"
            rows="10"
            class="py-4 px-2 rounded-md my-4 w-full border-2"
          >
<%=comment.text%></textarea
          >
          <input
            type="submit"
            value="Edit Comment"
            class="px-4 py-2 rounded-md bg-green-200 text-green-900 mr-8 cursor-pointer"
          />
        </form>
      </div>
    </div>
  </body>
</html>
