<header class="py-4 mb-8 shadow-sm border-b">
  <div class="container mx-auto flex justify-between items-center">
    <h1 class="text-3xl">Ekart</h1>
    <a href="/products" class="hover:border-b-2 border-indigo-500">Products</a>
    <nav class="flex justify-between items-center">
      <ul class="flex justify-between items-center">
        <li class="mx-8 hover:border-b-2 border-indigo-500">
          <a href="/admins/register">Admin Register</a>
        </li>
        <li class="mx-8 hover:border-b-2 border-indigo-500">
          <a href="/admins/login">Admin Login</a>
        </li>
      </ul>
      <ul class="flex justify-between items-center">
        <li class="mx-8 hover:border-b-2 border-indigo-500">
          <a href="/users/register">User Register</a>
        </li>
        <li class="mx-8 hover:border-b-2 border-indigo-500">
          <a href="/users/login">User Login</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
