<!DOCTYPE html>
<html>
  <head>
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <form action="/users/register" method="post">
      <input type="text" name="name" placeholder="Name" />
      <input type="email" name="email" placeholder="Email" />
      <input type="password" name="password" placeholder="Password" />
      <input type="number" name="age" placeholder="Age" />
      <input type="number" name="phone" placeholder="Phone" />
      <input type="submit" value="Add" />
    </form>
  </body>
</html>
